.roadmap-text-box {
  background-image: url("/svg/arrow-left-top.svg"),
    url("/svg/arrow-right-top.svg"), url("/svg/arrow-left-bottom.svg"),
    url("/svg/arrow-right-bottom.svg");
  background-repeat: no-repeat;
  background-position: top left, top right, bottom left, bottom right;
  padding: 30px; /* Add padding to prevent text overlap with arrows */
  background-color: rgba(
    21,
    20,
    20,
    0.75
  ); /* Keep the existing background color */
}
